/* CSS Document */

a {
	text-decoration: none;
}

a {
	background: transparent;
}

ul, li {
	padding: 0;
	margin: 0;
	list-style: none;
}

.s-list {
	padding-bottom: 50px;
}

.wrap {
	position: relative;
	width: 1200px;
	margin:0 auto;
}


.story-head {
	padding-top: 40px;
	padding-bottom: 35px;
	text-align: center;
	border-bottom: 1px solid #e7e7e7;
}

.story-catalog {
	padding: 20px 0;

}

.story-catalog .catalog-hd {
	height: 58px;
}

.story-catalog .catalog-title {
	
	display: inline-block;
	margin: 0;
	height: 35px;
	line-height: 35px;
	color: #535353;
	font-size: 16px;
}


.story-catalog .catalog-list ul {
	width: 1220px;
}

.clearfix {
	
}

.clearfix:after {
	display: block;
	content: ".";
	clear: both;
	height: 0;
	visibility: hidden;
	font-size: 0;
}


.story-catalog .catalog-list li {
	float: left;
	width: 278px;
	height: 45px;
	margin-right: 27px;
	margin-bottom: 8px;
	border-radius: 5px;
}


.story-catalog .catalog-list a {
	display: block;
	width: 243px;
	height: 43px;
	padding-left: 23px;
	padding-right: 20px;
	border: 1px solid #d9d9d9;
	border-radius: 5px;
	line-height: 43px;
	color: #757575;
	font-size: 12px;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}



