<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
    <title>管理页面</title>
	<script th:src="@{/js/jquery-3.3.1.js}" src="../js/jquery-3.3.1.js"></script>
	<link th:href="@{/bootstrap-4.3.1-dist/css/bootstrap-reboot.min.css}" rel="stylesheet" href="../bootstrap-4.3.1-dist/css/bootstrap-reboot.min.css">
	<link th:href="@{/bootstrap-4.3.1-dist/css/bootstrap.min.css}" rel="stylesheet" href="../bootstrap-4.3.1-dist/css/bootstrap.min.css">
	<script th:src="@{/bootstrap-4.3.1-dist/js/bootstrap.min.js}" src="../bootstrap-4.3.1-dist/js/bootstrap.min.js"></script>
	<link th:href="@{/css/content.css}" rel="stylesheet" href="../css/content.css">
</head>
<body class="main-back">
<!--推荐理由modal-->
<div class="modal fade" id="recommendReason" tabindex="-1">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">推荐理由</h5>
			</div>
			<div class="modal-body">
				<p> 当朝阳自窗外洒落进来的时候，少女微微张开双眼。

					那是个有点害羞、神色娴静，很适合短发的可爱女孩。

					整间病房充满洁净的白色。少女或许是被消毒水的气味给弄醒的.她一脸茫然地看着周遭.

					室内一片寂静，只听得见窗外传来的鸟啭。</p>
			</div>
		</div>
	</div>
</div>

<nav class="navbar navbar-light bg-dark sticky-top mb-3" > <a class="navbar-brand text-light" th:href="@{/index}" href="../index.html">HK小说网</a> </nav>
<div class = "row c-w-90 mx-auto">
	<div class="col-4">
		<div class="list-group">
			<a class="list-group-item list-group-item-action rounded-0 active" data-toggle="list" href="#editor-recommend-manage">编辑推荐管理</a>
			<a class="list-group-item list-group-item-action rounded-0" data-toggle="list" href="#novel-manage">小说数据编辑</a>
			<a class="list-group-item list-group-item-action rounded-0" data-toggle="list" href="#profile-manage">简历处理编辑</a>
			<a class="list-group-item list-group-item-action rounded-0" data-toggle="list" href="#favorite-setting">个性推荐设置</a>
		</div>
	</div>
	<div class="col-8">
		<div class="tab-content">
			<div class="tab-pane fade border back-color-white show active" id="editor-recommend-manage">

				<div class="border mx-3 my-3" th:each="info : ${recommendInfos}">
					<div class="row">
						<div class="col-3">
							<div class="book-cover-wrapper">
								<img th:if="not ${#strings.isEmpty(info.coverImg)}" th:src="${info.coverImg}" src="../imgs/cover-md.jpg" class="card-img-top book-cover-img" alt="...">
								<img th:if="${#strings.isEmpty(info.coverImg)}" th:src="@{/imgs/default.jpg}" src="../imgs/cover-md.jpg" class="card-img-top book-cover-img" alt="...">
							</div>
						</div>
						<div class="col-8">
							<div class="pt-2">
								<h4 th:text="${info.novelName}">Campione 弑神者！</h4>
							</div>
							<div class="py-2">
								总字数：<span th:text="${info.wordCount}">123444</span>
								点击数：<span th:text="${info.clickCount}">1236</span>
								收藏数：<span th:text="${info.favoriteCount}">123</span>
							</div>
							<div class="py-2">
								作者：<span th:text="${info.authorName}">丈月城</span>
								<p th:text="${info.briefIntro}">草薙护堂，他是一位弑神之人。弑神之人能够篡夺神的权能，而拥有那种力量的人类王者，被称为“Campione─弑神者─”，同时他们也被称为霸王或是魔王。拥有这些秘密的高中生草薙护堂，期盼的只是平淡无奇的日常生活而已，但是自称护堂爱人的女魔术师──艾莉卡，却让他卷入与不顺从之神的邂逅？！</p>
								<a class="btn btn-light">小说目录</a>
							</div>
							<div class="border-top py-3">
								<p>推荐人:<span th:text="${info.editorName}">HK</span><button
										class="btn btn-light float-right"
										th:onclick="recommendReasonModal([[${info.reason}]]);">推荐理由</button></p>
							</div>
						</div>
						<div class="col-12">
							<div class="row">
								<div class="col-6">
									<a th:href="@{/admin/agreeEditorRecommend/{novelId}(novelId=${info.novelId})}" href="#" class="btn btn-primary btn-block rounded-0">同意推荐</a>
								</div>
								<div class="col-6">
									<a th:href="@{/admin/rejectEditorRecommend/{novelId}(novelId=${info.novelId})}" href="#" class="btn btn-primary btn-block rounded-0">拒绝推荐</a>
								</div>
							</div>
						</div>
					</div>
				</div>

			</div>

			<div class="tab-pane fade" id="profile-manage">

				<div class="p-3 back-color-white my-2 border">
					<div class="text-align-center">
						<h5>待审核</h5>
					</div>
					<div th:each="profile:${unreadProfiles}" class="my-3 py-3 px-3 border">
						<form>
							<div class="form-group row">
								<label class="col-2 col-form-label">姓名</label>
								<div class="col-10">
									<input type="text" readonly class="form-control" th:value="${profile.realName}" value="aaa">
								</div>
							</div>
							<div class="form-group row">
								<label class="col-2 col-form-label">电话</label>
								<div class="col-10">
									<input type="text" readonly class="form-control" th:value="${profile.phoneNumber}" value="16866785567">
								</div>
							</div>
							<div class="form-group row">
								<label class="col-2 col-form-label">身份证号</label>
								<div class="col-10">
									<input type="text" readonly class="form-control" th:value="${profile.idNumber}" value="110101201904044312">
								</div>
							</div>
							<div class="form-group row">
								<label class="col-2 col-form-label">邮箱</label>
								<div class="col-10">
									<input type="text" readonly class="form-control" th:value="${profile.eMail}" value="xiaoheiwanghk@qq.com">
								</div>
							</div>
							<div class="form-group">
								<label>简介</label>
								<textarea class="form-control" readonly rows="4" th:text="${profile.briefIntro}">深度互联网从业人员，对互联网保持高度的敏感性和关注度，熟悉产品开发流程，有很强的产品规划、需求分析、交互设计能力，能独立承担APP和WEB项目的管控工作，善于沟通，贴近用户。</textarea>
							</div>
						</form>

						<a th:href="@{/admin/allowNewEditor/{profileId}(profileId=${profile.id})}" class="btn btn-primary rounded-0">简历通过</a>
					</div>

				</div>

				<div class="p-3 back-color-white my-2 border">
					<div class="text-align-center">
						<h5>已通过审核</h5>
					</div>
					<div class="my-3 py-3 px-3 border" th:each="profile: ${passedProfiles}">
						<form>
							<div class="form-group row">
								<label class="col-2 col-form-label">姓名</label>
								<div class="col-10">
									<input type="text" readonly class="form-control" th:value="${profile.realName}" value="aaa">
								</div>
							</div>
							<div class="form-group row">
								<label class="col-2 col-form-label">电话</label>
								<div class="col-10">
									<input type="text" readonly class="form-control" th:value="${profile.phoneNumber}" value="16866785567">
								</div>
							</div>
							<div class="form-group row">
								<label class="col-2 col-form-label">身份证号</label>
								<div class="col-10">
									<input type="text" readonly class="form-control" th:value="${profile.idNumber}" value="110101201904044312">
								</div>
							</div>
							<div class="form-group row">
								<label class="col-2 col-form-label">邮箱</label>
								<div class="col-10">
									<input type="text" readonly class="form-control" th:value="${profile.eMail}" value="xiaoheiwanghk@qq.com">
								</div>
							</div>
							<div class="form-group">
								<label>简介</label>
								<textarea class="form-control" th:text="${profile.briefIntro}" readonly rows="4">深度互联网从业人员，对互联网保持高度的敏感性和关注度，熟悉产品开发流程，有很强的产品规划、需求分析、交互设计能力，能独立承担APP和WEB项目的管控工作，善于沟通，贴近用户。</textarea>
							</div>
						</form>

					</div>

				</div>

			</div>

			<div class="tab-pane fade border back-color-white" id="novel-manage">
				<div class="row mb-3 mx-auto" >
					<div class="col-4 my-2" th:each="info: ${allNovelInfos}">
						<div class="shadow-sm">
							<div class="book-cover-wrapper">
								<a href="#">
									<img th:if="not ${#strings.isEmpty(info.coverImg)}" th:src="${info.coverImg}" src="../imgs/cover-md.jpg" class="card-img-top book-cover-img" alt="封面">
									<img th:if="${#strings.isEmpty(info.coverImg)}" th:src="@{/imgs/default.jpg}" src="../imgs/cover-md.jpg" class="card-img-top book-cover-img" alt="封面">
								</a>
							</div>
							<div class="">
								<p class="book-title-limit" th:text="${info.novelName}">Campione 弑神者！</p>
								<a th:href="@{/admin/deleteNovel/{novelId}(novelId=${info.id})}" class="btn btn-primary btn-block rounded-0">删除小说</a> </div>
						</div>
					</div>
				</div>
			</div>

			<div class="tab-pane fade border back-color-white" id="favorite-setting">
				<div class="p-2">
					<span>余弦值分析</span>
					<button class="btn btn-light rounded-0 float-right">更换推荐引擎</button>
				</div>

				<div class="m-4 p-2 border rounded">
					<p th:if="${lastCalTime}">上一次个性推荐分析：<span  th:text="${lastCalTime}">2019/05/08 12:45:23</span></p>
					<a th:href="@{/admin/calculateCosineSim}" class="btn btn-light rounded-0">余弦值分析</a>
				</div>


			</div>
		</div>


	</div>
</div>

<script>

	//推荐理由modal
	function recommendReasonModal(reason) {
		var modal = $("#recommendReason");
		modal.find("p").text(reason);
		modal.modal('toggle');
	}


</script>
</body>
</html>