<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>简历管理</title>
</head>
<body>

<h2>所有未读简历</h2>
<div th:each="profile:${unreadProfileList}">
    <p>姓名：<span th:text="${profile.realName}"></span></p>
    <p>电话：<span th:text="${profile.phoneNumber}"></span></p>
    <p>身份证号：<span th:text="${profile.idNumber}"></span></p>
    <p>email：<span th:text="${profile.eMail}"></span></p>
    <hr>
    <h3>个人简介</h3>
    <p th:text="${profile.briefIntro}"></p>
    <hr>
    <a th:href="@{/admin/allowNewEditor/{profileId}(profileId=${profile.id})}">审核通过</a>
</div>

<h2>所有通过简历</h2>
<div th:each="profile:${passedProfileList}">
    <p>姓名：<span th:text="${profile.realName}"></span></p>
    <p>电话：<span th:text="${profile.phoneNumber}"></span></p>
    <p>身份证号：<span th:text="${profile.idNumber}"></span></p>
    <p>email：<span th:text="${profile.eMail}"></span></p>
    <hr>
    <h3>个人简介</h3>
    <p th:text="${profile.briefIntro}"></p>
    <p hidden th:text="${profile.id}"></p>
</div>

</body>
</html>