<!doctype html>
<html>
<head>
<meta charset="utf-8">
	<title>虫之歌</title>
	<link rel="stylesheet" href="../bootstrap-4.3.1-dist/css/bootstrap-reboot.min.css">
	<link rel="stylesheet" href="../bootstrap-4.3.1-dist/css/bootstrap.min.css">
	<script src="../bootstrap-4.3.1-dist/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="../css/content.css">
</head>
<body class="main-back">
<nav class="navbar navbar-light bg-dark sticky-top mb-3" > <a class="navbar-brand text-primary" href="../index.html">HK小说网</a> </nav>
<div class="c-w-80 mx-auto border shadow-lg p-3 rounded mb-5">
	<div class="border-bottom p-5">
		<h3 class="h3 text-align-center">虫之歌</h3>
	</div>
	<div class="container my-5">
		<div>
			<h5> 第零卷 </h5>
		</div>
		<div class="row my-3">
			<div class="col-3"><a class="btn btn-light btn-block" href="#" title="">0.00 诗歌 The firs</a> </div>
			<div class="col-3"><a class="btn btn-light btn-block" href="#" title="">1.00 诗歌 Part.1</a> </div>
			<div class="col-3"><a class="btn btn-light btn-block" href="#" title="">2.00 The others</a> </div>
			<div class="col-3"><a class="btn btn-light btn-block" href="#" title="">3.00 The others</a> </div>
		</div>
		<div class="row my-3">
			<div class="col-3"><a class="btn btn-light btn-block"  href="#" title="">4.00 诗歌 Part.2</a></div>
			<div class="col-3"><a class="btn btn-light btn-block"  href="#" title="">5.00 诗歌 The las</a> </div>
			<div class="col-3"><a class="btn btn-light btn-block"  href="#" title="">尾声 The others</a> </div>
		</div>
	</div>
	<div class="container my-5">
		<div>
			<h5> 第一卷 </h5>
		</div>
		<div class="row my-3">
			<div class="col-3"><a class="btn btn-light btn-block" href="#" title="">序曲</a> </div>
			<div class="col-3"><a class="btn btn-light btn-block" href="#" title="">第一章</a> </div>
			<div class="col-3"><a class="btn btn-light btn-block" href="#" title="">第二章</a> </div>
			<div class="col-3"><a class="btn btn-light btn-block" href="#" title="">第三章</a> </div>
		</div>
		<div class="row my-3">
			<div class="col-3"><a class="btn btn-light btn-block" href="#" title="">第四章</a> </div>
			<div class="col-3"><a class="btn btn-light btn-block" href="#" title="">第一章</a> </div>
			<div class="col-3"><a class="btn btn-light btn-block" href="#" title="">第五章</a> </div>
			<div class="col-3"><a class="btn btn-light btn-block" href="#" title="">第六章</a> </div>
		</div>
		<div class="row my-3">
			<div class="col-3"><a class="btn btn-light btn-block" href="#" title="">终曲 MARRY CHRISMAS</a> </div>
			<div class="col-3"><a class="btn btn-light btn-block" href="#" title="">后记</a> </div>
		</div>
	</div>
</div>
</body>
</html>