<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link th:href="@{/bootstrap-4.3.1-dist/css/bootstrap-reboot.min.css}" href="../bootstrap-4.3.1-dist/css/bootstrap-reboot.min.css" rel="stylesheet">
    <link th:href="@{/bootstrap-4.3.1-dist/css/bootstrap.min.css}" href="../bootstrap-4.3.1-dist/css/bootstrap.min.css" rel="stylesheet">
    <link th:href="@{/css/content.css}" href="../css/content.css" rel="stylesheet">
    <script th:src="@{/js/jquery-3.3.1.js}" src="../js/jquery-3.3.1.js"></script>
    <script th:src="@{/bootstrap-4.3.1-dist/js/bootstrap.min.js}" src="../bootstrap-4.3.1-dist/js/bootstrap.min.js"></script>

    <title>HK小说阅读</title>
</head>
<body class="main-back">
<nav class="navbar navbar-dark bg-dark mb-3">
    <span class="navbar-brand mb-0 h1 text-light">HK小说网</span>
</nav>

<div class="c-w-80 mx-auto mb-5 ">
    <div class="mb-3  p-3 border-bottom">
        <form class="" action="/visitor/searchNovel" method="post">
            <div class="row mb-2">
                <input type="submit" class="btn btn-primary mr-1">搜索</input>
                <input class="form-control w-25 d-inline" type="text" placeholder="小说名" name="keyword" >
            </div>
            <div class="row">
                <label class="mr-1 my-auto">更新状态：</label>
                <select class="form-control w-25">
                    <option>全部</option>
                    <option>已完结</option>
                    <option>连载中</option>
                    <option>断更</option>
                </select>
            </div>

        </form>
    </div>

    <!--搜索结果页-->
    <div class="mb-2">
        <div class="p-4 border-bottom" th:each="novel: ${novelList}">
            <div class="shadow-sm rounded row w-75 mx-auto">
                <div class="col-4 border overflow-hidden">
                    <img th:src="@{/imgs/cover/cover-md.jpg}" src="../imgs/cover-md.jpg" class="book-cover-img">
                </div>
                <div class="p-2 col-8 border">
                    <span th:text="${novel.novelName}">魔弹之王与战姬</span>
                    <p th:text="${novel.briefIntro}">
                        布琉努王国里有块位于边境的弹丸之地亚尔萨斯，而这里的领导人是个随遇而安的贵族少年堤格尔维尔穆德·冯伦。因为王国的征召，堤格尔被迫上到战场上，双方人数相差快5倍，原本以为这场是必胜的战争，然而对手是吉斯塔特中的“七战姬”之一、拥有“银闪的风姬”名号的艾蕾欧诺拉·维尔塔利亚，在她出其不意的战略下，击破了布琉努大军。战乱中堤格尔虽然尝试利用最擅长的弓击杀敌人主将，但却反而被她高超的剑技打败。就在堤格尔绝望的做好受死准备之时……
                        “你从现在开始就是我的人了。”
                        因为对方意外的一句话，堤格尔往后的命运将彻底改写，和七位战姬的邂逅开始了。</p>
                    <a th:href="@{/visitor/novelInfo/{novelId}(novelId=${novel.id})}" class="btn btn-light">小说详情</a>
                </div>
            </div>
        </div>

    </div>
</div>
</body>
</html>
