<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>编辑主页</title>
    <script th:src="@{/js/jquery-3.3.1.js}" src="../js/jquery-3.3.1.js"></script>
    <link th:href="@{/bootstrap-4.3.1-dist/css/bootstrap-reboot.min.css}" rel="stylesheet" href="../bootstrap-4.3.1-dist/css/bootstrap-reboot.min.css">
    <link th:href="@{/bootstrap-4.3.1-dist/css/bootstrap.min.css}" rel="stylesheet" href="../bootstrap-4.3.1-dist/css/bootstrap.min.css">
    <script th:src="@{/bootstrap-4.3.1-dist/js/bootstrap.min.js}" src="../bootstrap-4.3.1-dist/js/bootstrap.min.js"></script>
    <link th:href="@{/css/content.css}" rel="stylesheet" href="../css/content.css">
</head>
<body class="main-back">
<nav class="navbar navbar-light bg-dark sticky-top mb-3 px-3"><a class="navbar-brand text-light" th:href="@{/index}"
                                                                 href="../index.html">HK小说网</a>
    <div class="float-right text-white"> 欢迎！<a th:href="@{/editor/personalInfo}" th:text="${session.login_editor_name}">小黑王HK</a>
    </div>
</nav>
<ul class="nav nav-tabs mb-5">
    <li class="nav-item"><a class="nav-link active" data-toggle="tab" href="#workspace">工作区域</a></li>
    <li class="nav-item"><a class="nav-link " data-toggle="tab" href="#novel-data">小说数据页</a></li>
    <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#selectspace">选择区域</a></li>
</ul>
<!--卷开放-->
<div class="modal fade" id="viewVolumeInfo" tabindex="-1">
    <div class="modal-dialog modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">第一卷 Enemy of Mankind 上</h5>
            </div>
            <div class="modal-body">
                <ul class="list-group">
                    <li class="list-group-item">序章 来袭</li>
                    <li class="list-group-item">第一章 名为弓家叶方的搭档</li>
                    <li class="list-group-item">第二章 名为大乡梦衣的心上人</li>
                    <li class="list-group-item">第三章 名为HIMAWARI的飞行物</li>
                    <li class="list-group-item">第四章 决战前</li>
                    <li class="list-group-item">间章 两个世界</li>
                    <li class="list-group-item">后记</li>
                </ul>
            </div>
        </div>
    </div>
</div>

<!--章节开放-->
<div class="modal fade" id="viewChapterInfo" tabindex="-1">
    <div class="modal-dialog modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">终曲 MARRY CHRISMAS</h5>
            </div>
            <div class="modal-body">
                <p> 当朝阳自窗外洒落进来的时候，少女微微张开双眼。

                    那是个有点害羞、神色娴静，很适合短发的可爱女孩。

                    整间病房充满洁净的白色。少女或许是被消毒水的气味给弄醒的.她一脸茫然地看着周遭.

                    室内一片寂静，只听得见窗外传来的鸟啭。</p>
            </div>
        </div>
    </div>
</div>


<!--推荐小说-->
<div class="modal fade" id="recommendNovel" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">推荐小说</h5>
            </div>
            <div class="modal-body">
                <form action="/editor/recommendNovel" method="post">
                    <input type="hidden" name="novel_id">
                    <div class="form-group">
                        <label>推荐理由</label>
                        <textarea rows="3" name="reason" class="form-control"></textarea>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="确认提交" class="btn btn-primary">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


<div class="tab-content mb-5">
    <!--工作区域-->
    <div class="tab-pane fade show active" id="workspace">
        <div class="text-align-center mb-3 p-2 border-bottom">
            <h3>事件处理</h3>
        </div>
        <div class="mb-5 c-w-80 mx-auto">
            <div class="row p-3" id="eventListWrapper">
                <div class="event-width p-2 shadow-sm mx-1 rounded my-2">
                    <h5>章节开放申请</h5>
                    <p>小说名:<span>虫之歌</span></p>
                    <p>章节名：<span>终曲 MARRY CHRISMAS</span></p>
                    <p>提交时间：<span>2019/5/5 20:23:23</span></p>
                    <button class="btn btn-light mx-1" data-toggle="modal" data-target="#viewChapterInfo">查看章节内容
                    </button>
                    <button class="btn btn-light mx-1">同意开放</button>
                </div>
            </div>
            <!--<ul class="pagination justify-content-end">-->
            <!--<li class="page-item disabled">-->
            <!--<a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>-->
            <!--</li>-->
            <!--<li class="page-item"><a class="page-link" href="#">1</a></li>-->
            <!--<li class="page-item"><a class="page-link" href="#">2</a></li>-->
            <!--<li class="page-item"><a class="page-link" href="#">3</a></li>-->
            <!--<li class="page-item">-->
            <!--<a class="page-link" href="#">Next</a>-->
            <!--</li>-->
            <!--</ul>-->
        </div>

    </div>

    <!--小说区域-->
    <div class="tab-pane fade" id="novel-data">
        <div class="c-w-60 mx-auto">
            <div>
                <h5 class="h5">正在更新</h5>
            </div>
            <div class=" border-top row p-3" id="ownerCheckNovelList">
                <div class="col-4">
                    <div class="list-group">
                        <a class="list-group-item list-group-item-action active" data-toggle="list"
                           href="#work1">虫之歌</a>
                        <a class="list-group-item list-group-item-action" data-toggle="list" href="#work2">时钟机关之星</a>
                    </div>
                </div>
                <div class="col-8">
                    <div class="tab-content">
                        <div class="tab-pane fade show active" id="work1">
                            <div class="row">
                                <div class="col-4">
                                    <img class="book-cover-wrapper" src="../imgs/cover2.jpg" alt=".."/>
                                </div>
                                <div class="col-8">
                                    <h5>东京侵域：Closed Eden</h5>
                                    <span>岩井恭平</span>
                                    <p>字数：<span>12045</span></p>
                                    <p>
                                        两年之前，『东京』遭遇了灾难——高中生秋月莲次和著名偶像弓家叶方有着一个共同的秘密。他们是侵入了『临界区域·东京』的『入侵者』，并使用AREA限定的特殊能力『SHOT』持续探索着。在与敌对的政府机关『救务厅』，还有AREA最可怕的怪物，人类之敌『EOM（Enemyof
                                        Mankind）』三方混战的情况下，他们能够兑现彼此许下的『诺言』吗！？
                                        『弓家叶方一定会夺回弓家奏汰』
                                        弓家叶方
                                        常以人气偶像的一面活跃在世人眼前，但是私下底是寻找弟弟的『侵入者』。
                                        『秋月莲次一定会找回大乡梦衣』
                                        秋月莲次
                                        『东京厄袭』的生还者。正在寻找下落不明的青梅竹马。
                                        两人同时从胸口抽出了一根细棒。
                                        莲次将闪耀着红色光辉的它——
                                        叶方将闪耀着绿色光辉的它——
                                        「SHOT！」
                                        「SHOT！」
                                        ——伴着同时发出的喊声，刺入了自己的手腕。
                                    </p>
                                </div>
                            </div>
                            <div class="w-100">
                                <button class="btn btn-light btn-block">小说目录</button>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="work2">
                            <div class="row">
                                <div class="col-4">
                                    <img class="book-cover-wrapper" src="../imgs/cover-sz.jpg" alt=".."/>
                                </div>
                                <div class="col-8">
                                    <h5>时钟机关之星</h5>
                                    <span>榎宫祐、暇奈椿</span>
                                    <p>字数：<span>12045</span></p>
                                    <p>
                                        ——说来突兀，不过世界早就灭亡了。死亡后的地球，变成一切都是用齿轮与发条加以重现、再度建构的世界——“时钟机关之星”。
                                        见浦直人是个成绩吊车尾的高中生，某一天突然有个黑色箱子坠落在他家里，箱子里头是一具自动人偶少女。“不过是一处故障，就被迫停止运转两百年，人类的智能恐怕还没超越跳蚤的水准吧——？”
                                        在崩毁与残存之间来回反复，被改造的世界与不变的人类，当理想与现实产生剧烈冲突之时，直人与机械少女琉珠，以及天才少女玛莉与保镖哈尔达的两场相遇推动了命运的齿轮！
                                    </p>
                                </div>
                            </div>
                            <div class="w-100">
                                <button class="btn btn-light btn-block">小说目录</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="c-w-60 mx-auto">
            <h5 class="h5">已完本</h5>
        </div>
    </div>

    <!--选择区域-->
    <div class="tab-pane fade" id="selectspace">
        <div class="c-w-60 mx-auto">
            <div class="my-3">
                <form class="form-inline">
                    <input type="text" class="form-control rounded-0" placeholder="搜索小说">
                    <a href="#" class="btn btn-primary rounded-0">搜索</a>
                </form>
            </div>

            <div class=" border-bottom" id="checking-novel-list">
                <div class="row my-3">
                    <div class="col-4 my-2">
                        <div class="card">
                            <div class="book-cover-wrapper align-middle"><img src="/imgs/cover/cover-md.jpg"
                                                                              class="card-img-top book-cover-img"
                                                                              alt="..."></div>
                            <div class="card-body">
                                <h5 class="card-text">虫之歌</h5>
                                <a href="#" class="btn btn-primary">审核通过</a>
                                <a href="#" class="btn btn-primary">查看目录</a>
                            </div>
                        </div>

                    </div>


                </div>
                <nav aria-label="Page navigation example">
                    <ul class="pagination justify-content-end">
                        <li class="page-item disabled">
                            <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
                        </li>
                        <li class="page-item"><a class="page-link" href="#">1</a></li>
                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                        <li class="page-item">
                            <a class="page-link" href="#">Next</a>
                        </li>
                    </ul>
                </nav>
            </div>


        </div>

    </div>
</div>
<script>

    $(document).ready(function () {

        //填充工作区域
        $.get("/editor/findAllWorkEvent", function (data) {
            var eventListWrapper = $("#eventListWrapper");
            eventListWrapper.empty();
            if (data.status === 0) {

                var list = data.eventList;
                for (var i = 0; i < list.length; i++) {
                    switch (list[i].type) {
                        case 0:
                            eventListWrapper.append(volumePublishEventCom(list[i]));
                            break;
                        case 1:
                            eventListWrapper.append(chapterPublishEventCom(list[i]));

                    }
                }

            }

        });

        //填充编辑审核的代码
        $.get("/editor/findAllManagedNovelInfo/", function (data) {
            var container = $("#ownerCheckNovelList");
            if (data.status === 0) {
                container.empty();
                //填充内容
                var infos = data.infos;
                //封装导航列
                var listGroup = $("<div class=\"list-group\"></div>");
                for (var i = 0; i < infos.length; i++) {
                    var listItem = $("<a class=\"list-group-item list-group-item-action\" data-toggle=\"list\" href=\"#work" + i + "\"></a>");
                    listItem.text(infos[i].novelName);
                    if (i === 0) listItem.addClass("active");
                    listGroup.append(listItem);
                }

                //导航页封装列布局
                var colN = $("<div class=\"col-4\"></div>");
                colN.append(listGroup);
                container.append(colN);

                //封装信息页
                var colI = $("<div class=\"col-8\"></div>");
                var tabContent = $("<div class=\"tab-content\"></div>");
                for (i = 0; i < infos.length; i++) {

                    var tabPane = $("<div class=\"tab-pane fade\" id=\"work" + i + "\"></div>");
                    tabContent.append(tabPane);

                    var row = $("<div class=\"row mb-3\"></div>");
                    tabPane.append(row);

                    //封装小说图片
                    var noImgC = $("<div class=\"col-4\"></div>");
                    var noImg = $("<img class=\"book-cover-wrapper\" src=\"" + "/imgs/default.jpg" + "\" alt=\"..\"/>");
                    if (infos[i].coverImg !== null && infos[i].coverImg.length !== 0) {
                        noImg.attr("src", infos[i].coverImg);
                    }

                    noImgC.append(noImg);
                    row.append(noImgC);

                    //封装小说信息布局
                    var noInC = $("<div class=\"col-8\"></div>");
                    row.append(noInC);
                    //-小说标题
                    var noTitle = $("<h5></h5>");
                    noTitle.text(infos[i].novelName);
                    noInC.append(noTitle);
                    // -小说作者
                    var noAuthor = $("<span></span>");
                    noAuthor.text(infos[i].penName);
                    noInC.append(noAuthor);
                    //-小说字数
                    var noWordCount = $("<p>字数：<span>12045</span></p>");
                    noWordCount.find("span").text(infos[i].wordCount);
                    noInC.append(noWordCount);
                    //-小说简介
                    var noBriIntro = $("<p></p>");
                    noBriIntro.text(infos[i].briefIntro);
                    noInC.append(noBriIntro);


                    //封装推荐与小说目录按钮
                    $.ajax
                    ({
                        cache: false,
                        async: false,
                        type: 'get',
                        url: "/editor/judgeRecommendNovel/" + infos[i].id,
                        success: function (data) {
                            var novelInd = $("<div class=\"w-100\"></div>");
                            if (data.status === 0) {
                                if (data.flag === true) { //可以推荐
                                    novelInd.addClass("row");
                                    //添加小说目录按钮
                                    var indexBL = $("<div class=\"col-6\"></div>");
                                    var smallIndexB = $("<a class=\"btn btn-light btn-block\"></a>");
                                    smallIndexB.text("小说目录");
                                    smallIndexB.attr("href", "/editor/showSpecialNovelIndex/" + infos[i].id);
                                    indexBL.append(smallIndexB);
                                    novelInd.append(indexBL);

                                    //添加小说推荐按钮
                                    var recommendBL = $("<div class=\"col-6\"></div>");
                                    var recommendB = $("<button class=\"btn btn-light btn-block\"></button>");
                                    recommendB.text("申请推荐");
                                    recommendB.attr("onclick", "recommendNovelModal(" + infos[i].id + ");");
                                    recommendBL.append(recommendB);
                                    novelInd.append(recommendBL);

                                } else { //不可以推荐
                                    var novelIndB = $("<a class=\"btn btn-light btn-block\"></a>");
                                    novelIndB.text("小说目录");
                                    novelIndB.attr("href", "/editor/showSpecialNovelIndex/" + infos[i].id);
                                    novelInd.append(novelIndB);
                                }
                                tabPane.append(novelInd);

                            }
                        }
                    });

                    if (i === 0) {
                        tabPane.addClass("active");
                        tabPane.addClass("show");
                    }
                }
                //信息页封装布局
                colI.append(tabContent);
                container.append(colI);
            }

        });

        //填充审核中小说
        $.get("/editor/checkingNovelList/1/6", function (data) {
            var container = $("#checking-novel-list");

            if (data.status === 0) {

                container.empty();

                //填充内容
                var novelList = data.novelList;
                //将小说数据封装成列
                var colList = [];
                for (var i = 0; i < novelList.length; i++) {

                    var card = $("<div class=\"card\"></div>");

                    var imgWrapper = $("<div class=\"book-cover-wrapper align-middle\"></div>");
                    var img = $("<img src=\"/imgs/default.jpg\" class=\"card-img-top book-cover-img\" alt=\"...\">");
                    if (novelList[i].coverImg !== null && novelList[i].coverImg.length !== 0) {
                        img.attr("src", infos[i].coverImg);
                    }
                    imgWrapper.add(img);
                    card.append(img);

                    var cardBody = $("<div class=\"card-body\"></div>");

                    var novelTitle = $("<h5 class=\"card-text\"></h5>");
                    novelTitle.text(novelList[i].novelName);
                    cardBody.append(novelTitle);

                    var novelEidt = $("<a class=\"btn btn-primary mr-2\">审核通过</a>");
                    novelEidt.attr("href", "/editor/publishNovel/" + novelList[i].id);
                    cardBody.append(novelEidt);

                    var novelEidt = $("<a class=\"btn btn-primary\">查看目录</a>");
                    novelEidt.attr("href", "/creator/novelIndexManage/" + novelList[i].id);
                    cardBody.append(novelEidt);

                    card.append(cardBody);

                    var col = $("<div class=\"col-4 my-2\"></div>");
                    col.append(card);

                    colList.push(col);
                }

                //将列封装成行
                var row = $("<div class=\"row my-3\"></div>");
                for (var i = 0; i < colList.length; i++) {
                    row.append(colList[i]);
                }
                container.append(row);


                //填充页码
                //暂时不添加页码
                var totalNum = data.totalNum;
                var pageWidget = $("<nav aria-label=\"Page navigation example\"></nav>");
                var pageUl = $("<ul class=\"pagination justify-content-end\"></ul>");
                pageWidget.append(pageUl);

            }

        });

    });

    //推荐小说modal
    function recommendNovelModal(novelId) {
        var modal = $("#recommendNovel");
        modal.find("form").find("input:eq(0)").val(novelId);
        modal.modal('toggle');
    }

    //创建卷发布事件
    function volumePublishEventCom(event) {
        var eventWrapper = $("<div class=\"event-width p-2 shadow-sm  mx-1 rounded my-2\"></div>");
        eventWrapper.append($("<h5>卷开放申请</h5>"));

        var novelTitle = $("<p>小说名:<span>虫之歌</span></p>");
        novelTitle.find("span").text(event.novelTitle);
        eventWrapper.append(novelTitle);

        var volumeTitle = $("<p>卷名：<span>第一卷 Enemy of Mankind 上</span></p>");
        volumeTitle.find("span").text(event.volumeTitle);
        eventWrapper.append(volumeTitle);

        var applyTime = $("<p>提交时间：<span>2019/5/5 20:23:23</span></p>");
        applyTime.find("span").text(event.appearTimeStr);
        eventWrapper.append(applyTime);

        var indexBtn = $("<button class=\"btn btn-light mx-1\">查看卷目录</button>");
        indexBtn.attr("onclick", "showVolumeIndexModal(" + event.volumeId + ")");
        eventWrapper.append(indexBtn);

        var publishBtn = $("<button class=\"btn btn-light mx-1\">同意开放</button>");
        publishBtn.attr("onclick", "agreePublishVolume(" + event.id + ")");
        eventWrapper.append(publishBtn);

        return eventWrapper;

    }

    //创建章节发布事件
    function chapterPublishEventCom(event) {
        var eventWrapper = $("<div class=\"event-width p-2 shadow-sm  mx-1 rounded my-2\"></div>");
        eventWrapper.append($("<h5>章节开放申请</h5>"));

        var novelTitle = $("<p>小说名:<span>虫之歌</span></p>");
        novelTitle.find("span").text(event.novelTitle);
        eventWrapper.append(novelTitle);

        var volumeTitle = $("<p>章节名：<span>第一卷 Enemy of Mankind 上</span></p>");
        volumeTitle.find("span").text(event.chapterTitle);
        eventWrapper.append(volumeTitle);

        var applyTime = $("<p>提交时间：<span>2019/5/5 20:23:23</span></p>");
        applyTime.find("span").text(event.appearTimeStr);
        eventWrapper.append(applyTime);

        var indexBtn = $("<button class=\"btn btn-light mx-1\">查看章节</button>");
        indexBtn.attr("onclick", "showChapterContentModal(" + event.chapterId + ")");
        eventWrapper.append(indexBtn);

        var publishBtn = $("<button class=\"btn btn-light mx-1\">同意开放</button>");
        publishBtn.attr("onclick", "agreePublishChapter(" + event.id + ")");
        eventWrapper.append(publishBtn);

        return eventWrapper;

    }


    //查看卷目录modal
    function showVolumeIndexModal(volumeId) {

        $.get("/editor/gainVolumeIndex/" + volumeId, function (data) {

        });
        var modal = $("#viewVolumeInfo");
        modal.find("form").find("input:eq(0)").val(novelId);
        modal.modal('toggle');
    }

    //查看章节内容modal
    function showChapterContentModal(chapterId) {
        $.get("/editor/gainChapterInfo/" + chapterId, function (data) {

        });

        var modal = $("#viewChapterInfo");
        modal.find("form").find("input:eq(0)").val(novelId);
        modal.modal('toggle');
    }

    //同意开放卷
    function agreePublishVolume(eventId) {
        window.location.href = "/editor/passVolumePublishEvent/" + eventId;
    }

    //同意章节开放
    function agreePublishChapter(eventId) {
        window.location.href = "/editor/passChapterPublishEvent/" + eventId;

    }

</script>
</body>
</html>