<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="/bootstrap-4.3.1-dist/css/bootstrap.min.css" rel="stylesheet">
    <title>HK小说</title>
</head>
<body>
<h2>Hello World!</h2>
<hr>
<p><a class="btn btn-primary btn-lg" href="/creator/creatorRegister" role="button">创作者身份</a></p>
<p><a class="btn btn-primary btn-lg" href="/editor/editorCenter" role="button">申请称为编辑</a></p>
<p><a class="btn btn-primary btn-lg" href="/editor/editorLogin.html" role="button">编辑登陆</a></p>

<p><a class="btn btn-primary btn-lg" href="/reader/readerLogin" role="button">读者登陆</a></p>
<p hidden>变化</p>
</body>
</html>
