<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="/js/jquery-3.3.1.js"></script>
</head>
<body>

<form action="" method="post" id="create_novel_form">
    <h2>小说创建</h2>
    <p><input type="text" name="novel_title"></p>
    <p><textarea rows="30" cols="50" name="brief_intro"></textarea></p>
    <p><input type="button" value="提交" id="create_novel_submit"></p>
</form>


<div>

<h2>创建结果</h2>
    <p id="create_result"></p>
    <a href="/creator/listAllNovel">小说管理</a>
</div>

<script>

    $(function () {
        $("#create_result").hide();
    })

    $("#create_novel_submit").click(function () {
        $.post("/creator/addNovel", $("#create_novel_form").serialize(), function (data, status) {

            if(data.status == 0) {
                $("#create_result").html("创建成功！");
                $("#create_result").show()
            }
        });

    })
</script>



</body>
</html>