<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
    <meta charset="UTF-8">
    <title th:text="${index.novelName}">虫之歌Bug</title>
    <script th:src="@{/js/jquery-3.3.1.js}" src="../js/jquery-3.3.1.js"></script>
	<link th:href="@{/bootstrap-4.3.1-dist/css/bootstrap-reboot.min.css}" rel="stylesheet" href="../bootstrap-4.3.1-dist/css/bootstrap-reboot.min.css">
	<link th:href="@{/bootstrap-4.3.1-dist/css/bootstrap.min.css}" rel="stylesheet" href="../bootstrap-4.3.1-dist/css/bootstrap.min.css">
	<script th:src="@{/bootstrap-4.3.1-dist/js/bootstrap.min.js}" src="../bootstrap-4.3.1-dist/js/bootstrap.min.js"></script>
	<link th:href="@{/css/content.css}" rel="stylesheet" href="../css/content.css">
</head>
<body class="main-back">
<nav class="navbar navbar-light bg-dark sticky-top mb-3" > <a class="navbar-brand text-primary" th:href="@{/creator/novelManagePage}" href="../index.html">HK小说网</a> </nav>

<!--添加新卷弹窗-->
<div class="modal fade" id="addNewVolume" tabindex="-1">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">添加新卷</h5>
			</div>
			<div class="modal-body">
				<form action="/creator/addNewVolume" method="post">
					<div class="form-group">
						<input type="hidden" name="novel_id" th:value="${index.novelId}">
						<input type="text" class="form-control" placeholder="新卷卷名" name="volume-name" required>
					</div>
					<input class="btn btn-primary" type="submit" value="确认">
				</form>
			</div>
		</div>
	</div>
</div>

<!--切换卷-->
<div class="modal fade" id="switchVolume" tabindex="-1">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">卷列表</h5>
			</div>
			<div class="modal-body">
				<div class="list-group">
					<a th:each="volume, iterStat:${index.volumeInfoList}"
					   th:class="${iterStat.first}? 'list-group-item active list-group-item-action': 'list-group-item list-group-item-action'"
					   class="list-group-item active list-group-item-action"
					   th:onclick="'switchVolumu(' + ${volume.volumeId}' + );'"
					   data-toggle="list" th:text="${volume.volumeTitle}">
						第一卷 Enemy of Mankind 上
					</a>
				</div>
			</div>
		</div>
	</div>
</div>

<!--查看卷信息-->
<div class="modal fade" id="viewVolumeInfo" tabindex="-1">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">第一卷 Enemy of Mankind 上</h5>
			</div>
			<div class="modal-body">
				<p>卷状态：<span>未开放</span></p>
				<a class="btn btn-primary" type="submit">申请开放</a>
			</div>
		</div>
	</div>
</div>
<div class="c-w-80 mx-auto border shadow-lg p-3 rounded mb-5">
	<div class="border-bottom p-5">
		<h3 class="h3 text-align-center">东京侵域：Closed Eden</h3>
	</div>
	<div class="container my-5">
		<div>
			<div class="row">
				<div class="col">
					<h5>第一卷 Enemy of Mankind 上</h5>
				</div>
				<div class="col">
					<a class="btn btn-light float-right" data-toggle="modal" data-target="#viewVolumeInfo">卷信息</a>

				</div>

			</div>

		</div>
		<div class="row my-3">
			<div class="col-4" id="volumeIndex">
				<div class="my-1"><a class="btn btn-light btn-block" href="#" title="">序章 来袭</a> </div>
				<div class="my-1"><a class="btn btn-light btn-block" href="#" title="">第一章 名为弓家叶方的搭档</a> </div>
				<div class="my-1"><a class="btn btn-light btn-block" href="#" title="">第二章 名为大乡梦衣的心上人</a> </div>
				<div class="my-1"><a class="btn btn-light btn-block" href="#" title="">第三章 名为HIMAWARI的飞行物</a> </div>
				<div class="my-1"><a class="btn btn-light btn-block" href="#" title="">第四章 决战前</a> </div>
				<div class="my-1"><a class="btn btn-light btn-block" href="#" title="">间章 两个世界</a> </div>
				<div class="my-1"><a class="btn btn-light btn-block" href="#" title="">后记</a> </div>
				<div class="my-2"><a class="btn btn-light btn-block" href="addNewChapterPage.html" title="">+添加章节</a> </div>
			</div>

			<div class="col-8 border rounded p-3">
					<div id="chapterInfo">
						<p>状态：<span>未开放</span> <a class="btn btn-light float-right">申请开放</a></p>
						<p>字数：<span>6834</span></p>
					</div>
					<div id="chapterBriefContent">
						<p>有个名叫东京的城市。</p>
						<p>是日本的首都，同时也是一个人口千万以上的大都市。</p>
						<p>在东京的一角，涉谷站前的全向十字路口——</p>
						<p>「——」</p>
						<p>初中二年级学生秋月莲次一步都动弹不得。</p>
						<p>……</p>
					</div>
					<div id="chapterBtn">
						<a class="btn btn-light btn-block">内容修改</a>
						<a class="btn btn-light btn-block">查看章节</a>
					</div>
			</div>
		</div>
	</div>
	<div class="container my-5">
		<div><button class="btn btn-light btn-block my-2" data-toggle="modal" data-target="#switchVolume">切换卷</button> </div>
		<div><button class="btn btn-light btn-block my-2" data-toggle="modal" data-target="#addNewVolume">+添加新卷</button> </div>
	</div>

</div>

<script>
	$(document).ready(function () {

	});


	//切换卷
	function switchVolumu(volumeId) {

		updateViewVolumeInfo(volumeId);
		updateVolumeIndex(volumeId);

	}

	/**
	 * 更换卷章节目录
	*/
	function updateVolumeIndex(volumeId) {
		$.get("/creator/rest/volumeInfo/" + volumeId, function(data){
			if(data.status === 0) {
				var target = $("#volumeIndex");
				target.empty();
				for(chapter in data.volumeInfo.chapterList) {
					var div = $("<div class=\"my-1\"><a class=\"btn btn-light btn-block\"></a></div>");
					div.find("a").text();
					div.find("a").attr("href", "");
					target.append(div);
				}

				var adddiv = $("<div class=\"my-2\"><a class=\"btn btn-light btn-block\">+添加章节</a></div>");
				adddiv.find("a").attr("href", "");

			}
		});
	}

	/**
	 * 更新卷信息modal
	 */
	function updateViewVolumeInfo(volumeId) {

		$.get("/creator/rest/volumeInfo/" + volumeId, function(data){
			if(data.status === 0) {

				var vvi = $("#viewVolumeInfo");
				var volume = data.volumeInfo;
				vvi.find(".modal-title").text(volume.volumeTitle);
				var vmb = vvi.find(".modal-body");

				switch(volume.status)
				{
					case 0:
						vmb.find('span').text("未开放");
						vmb.find('a').attr("href", "");
						break;
					case 1:
						vmb.find('span').text("审核中");
						vmb.find('a').hide();
						break;
					case 2:
						vmb.find('span').text("已开放");
						vmb.find('a').hide();
						break;
				}

			}
		});
	}

	/**
	 * 切换章节的信息页内容
	 */
	function gainSpecialChapterInfo(chapterId) {
		$.get("/creator/rest/chapterInfo/" + chapterId, function (data) {

			if(data.status === 0) {
				var chapterInfo = data.chapterInfo;

				var sp = $("#chapterInfo > p:first");

				switch(chapterInfo.status)
				{
					case 0:
						sp.children(':first').text("未开放");
						sp.children(':eq(1)').attr("href", "");
						break;
					case 1:
						sp.children('first').text("审核中");
						sp.children(':eq(1)').hide();
						break;
					case 2:
						sp.children('first').text("已开放");
						sp.children(':eq(1)').hide();
						break;
				}

				var wp = $("#chapterInfo > p:eq(1)");
				wp.children(':first').text(chapterInfo.wordCount);


				var brcv = $("#chapterBriefContent");
				brcv.empty();

				var limit = (chapterInfo.paragraphList.length < 5) ? chapterInfo.paragraphList.length: 5;
				var i= 0;
				for(; i < limit; i++) {
					var p = $("<p></p>");
					p.text(chapterInfo.paragraphList[i]);
					brcv.append(p);
				}
				var ps = $("<p></p>");
				ps.text("……");
				brcv.append(ps);


				$("#chapterBtn > a:first").attr("href", "");
				$("#chapterBtn > a:eq(1)").attr("href", "");
			}
		});
	}


	
</script>
</body>
</html>
